/* Style sheet for shared features/customizations on phone view*/

/*Page background customization*/
body {
    background: linear-gradient(to right,   rgb(36, 84, 214), cyan 100%);
    padding: 0px;
    margin: 0px;
}

/*Formatting for wrapper orientation (Content in wrapper), altered width*/
#wrapper, #wrapper2 {
    width: 95%;
    height: 900px;
    margin-right: auto;
    margin-left: auto;
}

/*Seperate wrapper ID for about page, to integrate radial gradient background*/
#wrapper2 {
    background: radial-gradient(ellipse at center,  rgb(36, 84,214) 0%, cyan 100%)
}

/*Customizations for header*/
#header {
    /* General spacing for header elements */
    height: auto;
    /* Background color/Text alignment in center */
    background-color: aqua;
    font-family: Verdana;
    text-align: center;
}

/*Customizations for footer*/
#footer {
    height: 100px;
    background-color: aqua;
    text-align: center;
}

/*Left/Right column formatting removed float for both*/
#left-column, #right0column{
    float: left;
    height: 600px;
    width: 100%;
}



/*Div class to be able to add multiple boxes for projects, */
/*Customizations and Formatting for box class, altered width, float none*/
.box{
    height: 250px;
    width: 90%;
    float: none;
    margin: 15px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 2px 2px 

}

/*Formatting for the form in contacts page, alterend spacing*/
form {
    margin: 5px;
    padding: 5px;
}

.clear{
    clear: both;
}

/*Formatting for the video, altered margin/padding and box shadow*/

video {
    margin: 10px auto;
    padding: 5px;
    background-color: #bb26e9;
    border: 2px white solid;
    box-shadow: 5px 5px 5px black;
}