/* Style sheet for shared features/customizations on default view*/

/*Page background customization*/
body {
    background: linear-gradient(to right,   rgb(36, 84, 214), cyan 100%);
    padding: 0px;
    margin: 0px;
}

/*Formatting for wrapper orientation (Content in wrapper)*/
#wrapper {
    width: 1100px;
    height: 900px;
    margin-right: auto;
    margin-left: auto;
}

/*Customizations for header*/
#header {
    /* General spacing for header elements */
    height: 120px;
    /* Background color/Text alignment in center */
    background-color: aqua;
    font-family: Verdana;
    text-align: center;
}

/*Customizations for footer*/
#footer {
    height: 100px;
    background-color: aqua;
    text-align: center;
}

/*Left column formatting*/
#left-column{
    float: left;
    height: 600px;
    width: 500px;
}

/*Right column formatting*/
#right-column{
    float: right;
    height: 600px;
    width: 500px;
}

/*Div class to be able to add multiple boxes for projects, */
/*Customizations and Formatting for box class*/
.box{
    height: 250px;
    width: 300px;
    float: left;
    margin: 15px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 2px 2px 
}

/*Formatting for the form in contacts page*/
form {
    margin: 15px;
    padding: 15px;
}

.clear{
    clear: both;
}