/* Style sheet for shared features/customizations on tablet view*/

/*Page background customization*/
body {
    background: linear-gradient(to right,   rgb(36, 84, 214), cyan 100%);
    padding: 0px;
    margin: 0px;
}

/*Formatting for wrapper orientation (Content in wrapper)*/
#wrapper, #wrapper2 {
    width: 90%;
    height: 900px;
    margin-right: auto;
    margin-left: auto;
}

/*Seperate wrapper ID for about page, to integrate radial gradient background*/
#wrapper2 {
    background: radial-gradient(ellipse at center,  rgb(36, 84,214) 0%, cyan 100%)
}

/*Customizations for header*/
#header {
    /* General spacing for header elements */
    height: 120px;
    /* Background color/Text alignment in center */
    background-color: aqua;
    font-family: Verdana;
    text-align: center;
}

/*Customizations for footer*/
#footer {
    height: 100px;
    background-color: aqua;
    text-align: center;
}

/*Left column formatting*/
#left-column{
    float: left;
    height: 600px;
    width: 48%;
}

/*Right column formatting*/
#right-column{
    float: right;
    height: 600px;
    width: 48%;
}

/*Div class to be able to add multiple boxes for projects, */
/*Customizations and Formatting for box class*/
/*Now using percentage for width, and remove float for tablet*/
.box{
    height: 250px;
    width: 90%;
    margin: 10px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 2px 2px 
}

/*Formatting for the form in contacts page, altered margin/padding*/
form {
    margin: 10px;
    padding: 10px;
}

.clear{
    clear: both;
}

/*altered width for video player*/
video {
    width: 90%;
    height: 90%;
    margin: 10px;
    padding: 10px;
    background-color: #bb26e9;
    border: 2px white solid;
    box-shadow: 10px 10px 15px black;
}